.message-area{
    flex: 1;
    --bot-response-bg: var(--third-bg);
    --bot-response-text: lightgray;
    --user-message-bg: var(--user-color);
    --user-message-text: #fff;
    gap: var(--quarter-spacing);
    display: flex;
    flex-direction: column;
    color-scheme: dark;
    overflow-y: auto;
    overscroll-behavior: contain;
    border: 1px solid var(--border-color);
}
.is-sending-message{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: var(--small-border-radius);

}
