.suggestion-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    padding: var(--quarter-spacing);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.suggestion-box:hover{
    background-color: var(--secondary-bg);
}
.suggestion-box__image{
    width: 32px;
    margin-right: 4px;
}