.order-form{
    background-color: var(--secondary-bg);
    padding: var(--spacing);
    border: 1px solid gray;
    margin-top: var(--spacing);
    display: flex;

}
.order-form label{
    color: white;
    font-weight: semi-bold;
}
.order-form form{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--quarter-spacing);
}
.order-form label, .order-form input, .order-form select, .order-form textarea{
    padding: var(--quarter-spacing);
}
.order-form label{
    width: 150px;
}
.order-form input, .order-form select, .order-form textarea{
    flex: 1;
    border: 1px solid gray;
    border-radius: 4px;
}
.order-form .input[type="checkbox"]{
    width: auto;
    flex: none;
}

.order-form .full, .order-form .half, .order-form .third{
    display: flex;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .order-form .half{
        width: 50%;
    }
    .order-form .third{
        width: 33.33%;
    }
    .order-form form{
       
    }
}