.order-form{
    background-color: var(--main-bg);
    padding: var(--spacing);
    border: 1px solid gray;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    display: flex;

}
.order-form button{
    padding: var(--quarter-spacing);
    min-width: 100px;
}
.order-form label{
    color: white;
    font-weight: semi-bold;
}
.order-form form{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--quarter-spacing);
}
.order-form label, .order-form input, .order-form select, .order-form textarea{
    padding: var(--quarter-spacing);
   
}
.input-wannabe{
    display: flex;
    flex-direction: column;
    padding: var(--quarter-spacing);
    justify-content: center;
    align-items: center;
}
.order-form label{
    width: 150px;
}
.order-form input, .order-form select, .order-form textarea{
    flex: 1;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: var(--secondary-bg);
    color: white;
}
.order-form input[type="checkbox"]{
    width: 30px;
    height: 30px;
    flex: none;
}

.order-form .full, .order-form .half, .order-form .third{
    display: flex;
    width: 100%;
        align-items: center;
}

@media screen and (min-width: 640px) {
    .order-form .half{
        width: 49%;
    }
    .order-form .third{
        width: 33.33%;
    }
    .order-form{
       width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .order-form{
       width: 60%;
    }
}