.order-form{
    background-color: var(--secondary-bg);
    padding: var(--spacing);
    border: 1px solid gray;
    margin-top: var(--spacing);
    display: flex;

}
.order-form label{
    color: white;
    font-weight: semi-bold;
}
.order-form form{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.order-form input{

}
.order-form .full, .order-form .half{
    display: flex;
    flex-direction: column;
}
.order-form .full{
    width: 100%;
}
.order-form .half{
    width: 100%;
}

@media screen and (min-width: 640px) {
    .order-form .half{
        width: 50%;
    }
    .order-form form{
       
    }
}