.order-infos{
    color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    flex: 1;
}
.order-price{

}
.order-name{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.order-price{
    font-size: 1.5rem;
    font-weight: 500;
}
.order-price.order-original{
    text-decoration: line-through;
    color: gray;
}
.order-discounted{
    margin-left: 4px;
    color: goldenrod;
}
@media screen and (min-width: 768px) {
    .order-infos{
        width: 50%;
    }
}