.order-payment{
    display: flex;
    color: lightgray;
    gap: 1rem;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.back-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;

}
.left-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.right-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.back-button-container{
    display: flex;
    width: 100%;
}
@media (min-width: 768px) {
    .order-payment{
        flex-direction: row;
    }
    .left-section{
        width: 64%;
    }
    .right-section{
        width: 34%;
    }
}