.order-payment{
    display: flex;
    color: lightgray;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
.back-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.left-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}