.navigation-bar{
    color: white;
}
.navigation-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
}
.navigation-item {
    margin-right: 10px;
    cursor: pointer;
}
.navigation-item:hover {
    color: yellowgreen;
}