
.navigation-bar{
    color: white;
    --border: 1px solid gray;
}
.navigation-list {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.navigation-item {
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-top: var(--border);
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-item__icon {
    margin-right: 8px;
}
.navigation-item:last-child {
    border-bottom: var(--border);
}
.navigation-item:hover {
    color: yellowgreen;
}

@media screen and (min-width: 768px) {
    .navigation-list {
        flex-direction: row;
        gap: 48px;
        font-size: 1rem;
    }
    .navigation-item{
        margin-right: 10px;
        text-align: left;
        border: none!important;
        padding: 0;
        width: max-content;
    }
}