.navigation-bar{
    color: white;
}
.navigation-list {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 24px;
}
.navigation-item {
    
    cursor: pointer;
}
.navigation-item:hover {
    color: yellowgreen;
}

@media screen and (min-width: 768px) {
    .navigation-list {
        flex-direction: row;
        gap: 48px;
        font-size: 1rem;
    }
    .navigation-item{
        margin-right: 10px;
    }
}