.action-button{
    font-family: var(--title-font);
    cursor: pointer;
    background-color: gray;
    color: white;
    padding: 10px 40px;
        border: 2px solid black;
      box-shadow: 
    inset 0 2px 4px rgba(255, 255, 255, 0.7), /* top highlight */
    inset 0 -2px 4px rgba(0, 0, 0, 0.7);      /* bottom shadow */
}
.action-button:hover{
    background-color: #4a5568;
    color: yellow;
}
.action-button.action-type{
    font-size: 0.75rem;
}
.action-button.add{
    background-color: green;
    color: white;
}
.action-button.add:hover{
    background-color: #2f855a;
}