.action-button{
    font-family: var(--title-font);
    cursor: pointer;
    background-color: gray;
    color: white;
    padding: 10px 40px;
        border: 1px solid lightgray;
    border-radius: 5px;
    background-image: url('/asset/textures/stud.webp');
}
.action-button:hover{
    filter: brightness(1.1);
}
.action-button.action-type{
    font-size: 0.75rem;
}