.order-filter{
    padding: var(--half-spacing);
    gap: var(--quarter-spacing);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: calc(var(--spacing) * 2);
    background:  var(--main-bg);
    color: white;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 20;
    height: 100vh;
}
.order-filter__title{
   display: flex;
    align-items: center;
}
.order-filter__text{
    margin-left: 4px;
}
.price-range, .checkbox-group{
    display: flex;
    flex-direction: column;
    gap: var(--half-spacing);
}
.checkbox-item{
    display: flex;
    align-items: center;
    gap: var(--quarter-spacing);
}
.checkbox-item label{
    margin-left: 4px;
}
.order-filter--active{
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
.filter-button-container{
    
}
.filter-button--mobile{
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    margin-right: auto;
    align-items: flex-end;
}
.filter-button__text{

}
@media screen and (min-width: 768px) {
    .order-filter{
        width: 25%;
        padding-top: var(--half-spacing);
        position: relative;
        height: auto;
    }
    .filter-button-container{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .order-filter{
        width: 20%;
    }
}