.fields-displayer{
    display: flex;
    flex-direction: column;
    padding: var(--half-spacing);
    align-items: center;
    justify-content: center;
}

.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.field-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.field{
    display: flex;
    flex-direction: row;
}
.field-label{
    width: 300px;
}
.field-value{
    
}