.search-suggestion{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 40;;
    background-color: var(--third-bg);
    color: lightgray;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: calc(var(--quarter-spacing) / 2);
    gap: var(--quarter-spacing);
    display:flex;
    flex-direction: column;
}