.chatbox{
    display: none;
    background-color: var(--main-bg);
    color: lightgray;
    padding: var(--quarter-spacing);
    width: 100%;
    flex-direction: column;
    gap: var(--half-spacing);
    height: 100vh;
    border-radius: var(--border-radius-small);
}
.is-open{
    display: flex;
 }
 .send-button{
    
    background-color: var(--primary-accent);
    color: white;
    border: none;
    border-radius: var(--border-radius-small);
    padding: 8px 16px;
    cursor: pointer;
 }

 .send-button:hover{
    background-color: var(--primary-accent-hover);
 }
 
 @media screen and (min-width: 768px) {
    .chatbox{
        width: 350px;
        height: 50vh;
    }
 }