.chatbox{
    display: none;
    background-color: var(--main-bg);
    color: lightgray;
    padding: var(--quarter-spacing);
    width: 100%;
    flex-direction: column;
    gap: var(--half-spacing);
    height: 100vh;
}
.is-open{
    display: flex;
 }

 @media screen and (min-width: 768px) {
    .chatbox{
        width: 350px;
        height: 50vh;
    }
 }