.header{
    font-size: 1.3rem;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
}
.header button{
    cursor: pointer;
}
.opened{
    left: 0;
    transition: left 0.3s ease-in-out;
}

.exit-menu-button{
    margin-right: auto;
    z-index: 2;
    color: tomato;
}
@media screen and (min-width: var(--mobile-checkpoint)) {
    .header{
        padding: 16px var(--side-outer-padding);
        position: relative;
        height: auto;
        left: auto;
        top: auto;
        z-index: 1;
        flex-direction: row;
    }

    
}