.search-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: max-content;
    position: relative;
    width: 100%;
}
.search-bar-input{
    flex: 1;    
}
.search-bar-placeholder{
    display: none;
    width: max-content;
    flex: 1;
    background: var(--secondary-bg);
}
.search-bar-placeholder{
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .search-bar{
        width: 40%;
    }
    .search-bar-input{
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    .search-bar-placeholder{
        display: block;
        opacity: 0;
        transition: opacity  0.3s ease-in-out;
    }
    
}
.search-bar--active{
    display: block;
    opacity: 1;
}