.search-bar{
    --vertical-padding: 8px;
    --side-padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: max-content;
    position: relative;
    width: 100%;
    background: var(--secondary-bg);
    border-radius: 16px;
    overflow: hidden;
    padding-right: var(--side-padding);
    color: lightgray;
}
.search-bar-input{
    flex: 1;
}
.search-bar-input:focus{
    outline: none;
}
.search-bar-placeholder{
    display: none;
    width: max-content;
    flex: 1;
    background: var(--secondary-bg);
    cursor: text;
}
.search-ready{
    background: var(--third-bg);
}
.search-bar-shared{
    padding: var(--vertical-padding) var(--side-padding);
    transition: opacity  0.3s ease-in-out;
}
@media screen and (min-width: 768px){
    
    .search-bar-input{
        display: none;
        opacity: 0;
    }
    .search-bar-placeholder{
        display: none;
        opacity: 0;
        
    }
    
}
    .search-ready .search-bar-input, .search-ready .search-bar-placeholder{
    display: block;
    opacity: 1;
    
}