.close-chat-button{
    --dimension: 32px;
    background-color: maroon;
    color: white;
    width: var(--dimension);
    height: var(--dimension);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top:-10px;
}
.close-chat-button:hover{
    background-color: firebrick;
}