.chat-indicator{
    width: 12px;
    height: 12px;

    position: absolute;
    top: -2px;
    right: 5px;
}
.chat-indicator-dot{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    border-radius: 50%;
}