.overlay-item-container{
    border-radius: var(--border-radius);
    padding: var(--spacing);
    min-width: 300px;
    display: none;
    align-items: center;
    justify-content: center;
    color: lightgray;
    font-weight: 500;
    font-size: 1.5rem;
}
.overlay-item-container.visible{
    display: flex;
}
.success{
    color: var(--success-color);

}
.error{
    color: var(--error-color);

}

.submitting{
    color: var(--loading-color);

}