.overlay-item-container{
    border-radius: var(--border-radius);
    padding: var(--spacing);
    min-width: 300px;
    display: none;
    align-items: center;
    justify-content: center;
}
.overlay-item-container.visible{
    display: flex;
}