.image-slides{
    display: flex;
    max-width: 20%;
    flex-direction: column;
    margin-right: 12px;
    gap: 4px;
    box-sizing: border-box;
}
.image-slides__image{
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: var(--border-radius);
    opacity: 0.5;
    box-sizing: border-box;
}
.image-slides__image--active{
    border: 2px solid var(--loading-color);
    opacity: 1;

}