.featured-items{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 16px var(--side-outer-padding);
    margin-top: 16px;
}
.featured-items-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}