.textbox{
    display: flex;
    gap: 8px;
    padding: 8px;
 
}
.text-input{
    flex: 1;
    padding: 8px;
    border-radius: var(--border-radius-small);
       background-color: var(--secondary-bg);
       outline: none;
}
.send-button{

}