.textbox{
    display: flex;
    gap: 8px;
    padding: 8px;
    max-height: 100px;
    overflow-y: auto;
 
}
.text-input{
    flex: 1;
    padding: 8px;
    border-radius: var(--border-radius-small);
       background-color: var(--secondary-bg);
       outline: none;
}
.send-button{
    padding: 8px 16px;
    border-radius: var(--border-radius-small);
    color: white;
    cursor: pointer;
}
.send-button:hover{
    background-color: var(--third-bg);
    color: var(--main-bg);
}
.sending{
    cursor: not-allowed;
    opacity: 0.6;
}