.order-sorter{
display: flex;
align-items: center;
gap: var(--quarter-spacing);   
width: 100%;
flex: 1; 
/* make this component take up the remaining space pushing the other components to the new row */

}
.order-sorter__asc_button{
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    font-size: 2rem;
    background: var(--third-bg);
}

@media  screen and (min-width: 768px) {
    .order-sorter{
        justify-content: flex-end;
    }
    
}