.browse{
    display: flex;
    border-top: 1px solid var(--border-line-color);
    border-bottom: 1px solid var(--border-line-color);
    flex-direction: column;
}
.browse-main{
    display: flex;
    flex-direction: column;
    gap: var(--half-spacing);
}
@media screen and (min-width: 767px) {
    .browse{
        flex-direction: row;
    }
}