.login{
    background: url("/asset/images/banner.png")  no-repeat center center fixed;
    background-size: cover;
}
.login form{
    padding: var(--spacing);
    border-radius: 12px;
    color: lightgray;
    display: flex;
    flex-direction: column;
    gap: var(--half-spacing);
    font-size: 1.2rem;
    width: 80%;
}
.popup{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
}
.login form input
{
    padding: var(--quarter-spacing);
    border-radius: 8px;
    border: 1px solid var(--border-line-color);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem; 
}
@media screen and (min-width: 768px) {
    .login form{
        width: 45%;
    }
}