.order-viewer{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    gap: 32px;
}

@media screen and (max-width: 768px) {
    .order-viewer{
        flex-direction: column;
        justify-content: space-between;
    }
    
}