.order-viewer{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    gap: 32px;
    width: 100%;
    min-height: 80vh;
}
.order-viewer__no-orders{
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
    text-align: center;
    justify-content: center;
}
.order-viewer__no-orders__text{
    font-size: 1.5rem;
    color: white;
   
}
.browse__title{
    padding: var(--half-spacing);
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .order-viewer{
        justify-content: space-between;
    }
    
}
