.collapsable-item{
    background: var(--main-bg);
    color: lightgray;
    padding: var(--quarter-spacing);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.active{
    background: var(--secondary-bg);
    color: white;
}
.content{
    width: 90%;
}