

.chat-toggle-icon{
    --1st-color: gray;
    --2nd-color: white;
    color: var(--1st-color);
    background-color: var(--2nd-color);
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
}
.is-open {
    background: var(--1st-color); 
    color: var(--2nd-color);
}