

.chat-toggle-icon{
    --1st-color: var(--main-bg);
    --2nd-color: white;
    color: var(--1st-color);
    background-color: var(--2nd-color);
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.chat-toggle-icon:hover{
    background-color: var(--1st-color);
    color: var(--2nd-color);
}
.is-open {
    display:none;
}