.pet-card{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.pet-image{
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}
.pet-details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 16px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    color: white;
}
.discount{
    color: orangered;
}
.original-price{
    text-decoration: line-through;
}
.pet-price{
    background-color: gold;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    width: max-content;
}

