.image-preview{
    position: relative;
    display: flex;

}
.image-preview__img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.image-preview__remove-button{
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 0!important;
    min-width: auto!important;
}
.image-preview__remove-button:hover{
    background-color: rgba(0, 0, 0, 0.4);
}