.pet-card{
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pet-image{
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pet-details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    color: white;
}
.pet-price{
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    width: max-content;
}
.discount{
    color: orangered;
    background-color: rgba(233, 219, 94, 1);
    
}
.original-price{
    text-decoration: line-through;
}


.pet-name{
    font-weight: semibold;
    font-family: Comic Sans MS;
    font-size: 1.2rem;
}

@media  screen and (min-width: 768px) {
    .pet-card{
        width: 300px;
        height: 400px;
    }
    .pet-name{
        font-size: 1.5rem;
    }
    .pet-details{
        padding: 20px;
    }
    
}